@require "app/styles/charte"

#app
	font-family: sans-serif

	&-nav
		background-color: $nav-bg
		border-right: 1px solid $nav-border
		height: 100vh
		position: fixed
		width: 30%

	&-main
		background-color: $main-bg
		margin-left: 30%
		width: 70%
